* {
  text-rendering: optimizeLegibility;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  color: rgb(59, 59, 59);
  margin: 0;
  padding: 0;
}

.row {
  max-width: 1140px;
  margin: auto;
}

.half-width {
  width: 50%;
  float: left;
  padding-top: 80px;
}

.half-width p {
  padding-top: 20px;
  line-height: 150%;
}



.highlight-magenta {
  color: rgb(238, 40, 80);
  font-family: "Roboto bold", sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
}

.half-width img {
  width: 70%;
}



.top-banner {
  background-image: url(./img/header-bg.png);
  margin: 0;
  padding: 0;
  height: 100vh;
}

.button {
  text-decoration: none;
  display: inline-block;
  background-image: linear-gradient(to right, tomato, crimson);
  border-radius: 5px;
  color: white;
  padding: 10px 30px;
  margin: 30px auto;
  transform: scale(1.0);
  transition: transform 0.3s;
}

.button:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
}

#spacing-box {
  padding-top: 100px;
  padding-left: 15%;
}

.title {
  font-size: 250%;
}

.biography {
  background-image: url(img/biography-bg.png);
  height: 100vh;
  margin: 0;
  padding: 0;
}

.spacing-box-up {
  padding-top: 30px;
}

.space-up {
  padding-top: 100px;
}

.latest-work {
  background-image: url(img/latest-work-bg.png);
  height: 100vh;
  margin: 0;
  padding: 0;
}

.centering-title {
  padding-top: 150px;
  font-size: 250%;
  text-align: center;
}

.one-third-width {
  width: 33.33%;
  padding-top: 70px;
  float: left;
}

.one-third-width img {
  width: 90%;
  box-shadow: 10px 10px 30px gray;
}
